<div id="index_header">
    <span>What is new here</span>
    <span><%= link_to 'Post new announcement', new_billboard_path, class: "new" %></span>
</div>
<div>
<% @announcements.each do |announcement| %>
    <div class="announcement">
        <span>
            <%= announcement.title %> 
            <span class="date"> - <%= announcement.date || "Unknown" %></span>
        </span>
        <span>
            <%= link_to 'Check out', billboard_path(announcement) %>
            <%= link_to 'Edit', edit_billboard_path(announcement) %>
            <%= link_to 'Delete', billboard_path(announcement), :method => :delete, :data => { :confirm => "Are you sure?" } %>
        </span>
    </div>
    <% end %>
    <%= paginate @announcements %>
</div>
