<h1>Welcome to HACKER CITY</h1>

<ul>
<% @announcements.each do |a| %>
  <li>
 <%= a.title %>
  <%= link_to 'Show', :controller => 'billboard', :action => 'show', :id => a %>
  <%= link_to 'Edit', :controller => 'billboard', :action => 'edit', :id => a %>
  <%= link_to 'Delete', :controller => 'billboard', :action => 'destroy', :id => a %>
  </li>
<% end %>
</ul>
<%= link_to 'New Announcement', :controller => 'billboard', :action => 'new' %>