<!--<%= form_for @announcement, :url => billboard_index_path do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= f.submit "Post" %>
    <%= link_to 'Return to index', billboard_index_path %>
<% end %>-->

<%= form_for @announcement, :url => billboard_index_path do |f| %>

<div id="index_header">
    <span><%= f.text_field :title, :placeholder => "Title" %> - <%= f.text_field :date, :placeholder => "Date" %></span>
    <span><%= f.submit "Post" %></span>
</div>
<div>
    <%= f.text_area :description, :rows => 15 %> 

<!--        <% if @announcement.errors.any? %>
            <ul>
                <% @announcement.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        <% end %>-->

    <div id="show_return"><%= link_to 'Return to index', billboard_index_path %></div>
</div>
<% end %>
