<%= @announcement.title %>
<%= @announcement.date %>
<%= simple_format(@announcement.description) %>

<%= link_to 'Edit', edit_billboard_path(@announcement) %>
<p><%= link_to 'Return to index', billboard_index_path %></p>